<div id='jumbo' class="jumbotron">
    <h1 class="jumboHeader">K-feed (scraped News from Buzzfeed)</h1>

    <form action="/scrape" method='post'>
        <input class='btn btn-dark' type="submit" value='Scrape Articles'>
    </form>

</div>